@model IEnumerable<TechChallenge.CustomerBets.Web.Models.BetViewModel>
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <table class="table table-striped table-bordered datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Return Stake</th>
            <th>Won</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => entry.Name)</td>
                <td>@Html.DisplayFor(model => entry.RaceId)</td>                
                <td>@Html.DisplayFor(model => entry.ReturnStake)</td>  
                <td>@Html.DisplayFor(model => entry.Won)</td> 
            </tr>
        }
        </tbody>
    </table>     
</div>

